* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  /* UI Properties */
  opacity: 1;
}
.nav {
  width: 100%;
  height: 58px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: stretch;
  /* UI Properties */
  background: transparent
    linear-gradient(
      90deg,
      #00a99d 0%,
      #00a69a 34%,
      #019d91 58%,
      #038d83 78%,
      #06776e 97%,
      #07746b 100%
    )
    0% 0% no-repeat padding-box;
  border-bottom: 5px solid;
  border-image: linear-gradient(to right, #5f5d5d, #c2c2c2);
  border-image-slice: 1;

  opacity: 1;
}

.emblem2 {
  display: flex;

  align-items: center;

  width: 61px;
  height: 64px;
  margin-top: 20px;
}

.certified {
  /* Layout Properties */
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-wrap: nowrap;
  margin-left: 355px;
  justify-content: center;
  align-items: center;
  margin-top: 18px;
  width: 500px;
  height: 28px;
  font-weight: 700;
  font-size: 20px;
  /* UI Properties */
  text-align: center;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  position: relative;
}

.certified2 {
  display: none;
}

header {
  /* Layout Properties */
  top: 0px;
  left: 0px;
  width: 100%;
  height: 101px;

  /* UI Properties */
  background: transparent
    linear-gradient(
      90deg,
      #aab1b9 0%,
      #c2c7cd 21%,
      #e3e5e8 54%,
      #f7f8f8 81%,
      #ffffff 100%
    )
    0% 0% no-repeat padding-box;
  opacity: 1;
}

.textContainer {
  display: flex;
  flex-wrap: nowrap;
  margin-left: 400px;
}
.textSmall {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 15px;
  margin-top: 4rem;
  padding-right: 10px;

  /* UI Properties */
  text-align: left;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  /* position: relative; */
}

#questions {
  font-family: 'Poppins', sans-serif;

  font-size: 15px;
  padding-left: 20px;
}

.col {
  top: 74px;
  left: 380px;
  width: 20px;
  height: 15px;
  /* UI Properties */
  color: #00a99d 0%;

  background: -webkit-linear-gradient(
    #00a69a 34%,
    #019d91 58%,
    #038d83 78%,
    #06776e 97%,
    #07746b 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  opacity: 1;
}

.textSmall2 {
  display: none;
}

.top-container {
  margin-top: 5vh;
  display: flex;

  flex-flow: row nowrap;
  gap: 5px;
  justify-content: center;
  align-items: center;

  width: 100%;
}
.top-item {
  width: 160px;
  display: flex;
  flex-grow: 0;
  text-align: center;
  align-items: center;
  justify-content: center;
  /* position: relative; */
}

.shopify {
  top: 144px;
  left: 501px;
  width: 154px;
  height: 66px;
}

.reviews {
  top: 155px;
  left: 685px;
  width: 96px;
  height: 46px;
}

.stripe {
  top: 147px;
  left: 807px;
  width: 132px;
  height: 60px;
}
.what-container {
  display: flex;
  justify-content: center;
}
h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 50px;
  font-weight: 700;
  top: 228px;
  left: 392px;
  width: 856px;
  height: 71px;
  /* UI Properties */
  text-align: center;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.subtotal-container {
  display: flex;
  flex-flow: row nowrap;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.bottle {
  top: 275px;
  left: 292px;
  width: 451px;
  height: 351px;
}

.subtotal {
  margin-top: 50px;
  /* top: 356px; */
  left: 689px;
  width: 458px;
  height: 238px;
  /* UI Properties */
  border: 1px solid #b3b3b3;
  border-radius: 12px;
  opacity: 1;
}

.subtotal-text {
  margin-top: 10px;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 20px;
  top: 371px;
  left: 714px;
  width: 88px;
  height: 28px;
  /* UI Properties */
  text-align: left;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.borderBottom {
  border-bottom: 2px dashed #b3b3b3;
  width: 265px;
  margin-left: 100px;
  margin-top: 0;
}

.subtotal-price {
  padding: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 20px;
  top: 371px;
  left: 1055px;
  width: 65px;
  height: 28px;
  /* UI Properties */
  text-align: right;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  margin-left: 360px;
  margin-top: -30px;
}
.subtotal-text2 {
  margin-top: 15px;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 20px;
  top: 371px;
  left: 714px;
  width: 88px;
  height: 28px;
  /* UI Properties */
  text-align: left;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.borderBottom2 {
  border-bottom: 2px dashed #b3b3b3;
  width: 260px;
  margin-left: 105px;
  margin-top: 0;
}

.subtotal-price2 {
  padding: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 20px;
  top: 371px;
  left: 1055px;
  width: 65px;
  height: 28px;
  /* UI Properties */
  text-align: right;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  margin-left: 360px;
  margin-top: -30px;
}

.subtotal-text3 {
  margin-top: 15px;
  margin-left: 30px;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #33b7a6;
  top: 371px;
  left: 714px;
  width: 88px;
  height: 28px;
  /* UI Properties */
  text-align: left;
  letter-spacing: 0px;

  opacity: 1;
}

.borderBottom3 {
  border-bottom: 2px dashed #b3b3b3;
  width: 260px;
  margin-left: 105px;
  margin-top: 0;
}

.subtotal-price3 {
  padding: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 20px;
  top: 371px;
  left: 1055px;
  width: 65px;
  height: 28px;
  /* UI Properties */
  text-align: right;
  letter-spacing: 0px;
  color: #33b7a6;
  opacity: 1;
  margin-left: 360px;
  margin-top: -30px;
}

.grey-solid-bottom {
  border: 1px solid #b3b3b3;
  margin-top: 70px;
  margin-left: 10px;
  margin-right: 10px;
}

.bottomText {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  top: 550px;
  left: 706px;
  width: 425px;
  height: 23px;
  align-items: center;
  margin-top: 10px;
  padding-left: 20px;

  text-align: left;
  letter-spacing: 0px;

  opacity: 1;
}

.prefer-container {
  display: flex;
  display: flex;
  justify-content: center;
  text-align: center;

  margin-top: 50px;
  margin-bottom: 100px;
}
.prefer-border {
  width: 960px;
  height: 313px;
  /* UI Properties */
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 2px solid #b3b3b3;
  border-radius: 20px;
  opacity: 1;
}

.three-bottles {
  width: 400px;
  height: 220px;
  margin-left: 500px;
  margin-top: -70px;
}
.prefer-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 45px;
  padding: 10px;
  margin-top: -150px;
  margin-left: 10px;

  width: 400px;
  height: 100hpx;
  /* UI Properties */
  text-align: left;
  letter-spacing: 0px;
  line-height: 1.1;
  color: #000000;
  opacity: 1;
}
.save-bar {
  background-color: #33b7a6;

  margin-top: 40px;
  width: 100%;
  height: 50px;
}
.curved-arrow {
  margin-left: -850px;
  margin-top: 0;
  height: 45px;
  width: auto;
}
.save-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 32px;
  margin-left: 100px;
  margin-top: -50px;
  width: 300px;
  height: 32px;
  /* UI Properties */
  text-align: center;
  letter-spacing: 0px;
  color: white;
  opacity: 1;
}

.round {
  position: relative;
}

.round label {
  background-color: #fff;
  border: 2px solid black;
  border-radius: 50%;
  cursor: pointer;
  height: 20px;
  left: 0;
  position: absolute;
  top: 10px;
  left: 25px;
  width: 20px;
}

.round label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: '';
  height: 4px;
  left: 2px;
  opacity: 0;
  position: absolute;
  top: 4px;
  transform: rotate(-45deg);
  width: 10px;
}

.round input[type='checkbox'] {
  visibility: hidden;
}

.round input[type='checkbox']:checked + label {
  background-color: #33b7a6;
  border-color: #33b7a6;
}

.round input[type='checkbox']:checked + label:after {
  opacity: 1;
}

.check-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 17px;
  margin-left: 60px;
  margin-top: -10px;
  width: 600px;
  height: 100px;
  /* UI Properties */
  text-align: left;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.grey-border-between{
  margin-top: 20px;
  margin-left: 5%;
  margin-right: 5%;
  border: 1px solid #B3B3B3;
  display: none;
}
@media screen and (max-width: 1155px) {
  .textContainer {
    margin-left: 150px;
  }
  .certified {
    margin-left: 125px;
  }
}
@media screen and (max-width: 960px) {
  .prefer-container {
    display: none;
  }
}
@media screen and (max-width: 945px) {
  .grey-border-between{
    display: flex;
  }
  .subtotal {
    display: none;
  }
  .bottle {
    margin-top: 50px;
    top: 230px;
    left: 43px;
    width: 260px;
    height: 200px;
  }
}
@media screen and (max-width: 905px) {
  .nav {
    height: 47px;
  }

  .certified {
    display: none;
  }

  .certified2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 19px;
    justify-content: left;
    margin-left: 5px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 17px;
    width: 270px;
    height: 18px;

    /* UI Properties */
    text-align: center;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
  }

  header {
    height: 84px;
  }
  .textSmall {
    display: none;
  }
  .textContainer {
    margin-left: 30px;
  }

  .textSmall2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 15px;
    display: flex;
    justify-content: left;
    margin-top: 3.8rem;

    /* UI Properties */
    text-align: left;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    position: relative;
  }
  h1 {
    margin-top: 20px;
    left: 58px;
    width: 420px;
    height: 50px;
    font-size: 45px;
    line-height: 1.2;
  }
}

@media screen and (max-width: 394px) {
  .shopify {
    top: 98px;
    left: 12px;
    width: 114px;
    height: 49px;
  }

  .reviews {
    top: 126px;
    left: 146px;
    width: 70px;
    height: 36px;
  }

  .stripe {
    top: 100px;
    left: 238px;
    width: 97px;
    height: 46px;
  }

  h1 {
    margin-top: 30px;
    left: 58px;
    width: 320px;
    height: 50px;
    font-size: 35px;
    line-height: 1.2;
  }
}
